.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.home{
  display: flex;
  justify-content: center;
}

.survey-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  width: 100%;
  max-width: 800px;
  margin: 24px 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
  box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
  background: #fff;
}

.header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  background-color: #2541b2;
  color: #fff;
  padding: 24px;
}

.header span {
  margin-top: 24px;
}

.page {
  width: 100%;
  padding: 24px;
}

.survey-question-group {
  width: 100%;
}

.survey-question-group-header {
  margin: 20px 0px 0 20px;
}

.survey-question-group-description {
  margin: 10px 0px 0 20px;
}

/*Question*/
.question {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.question-content {
  font-size: 16px;
}

.required-question {
  color: #ee3124;
}
/*#Question*/

/*Answer Option*/

.answer-option {
  margin: 10px 20px;
}

.answer-option-text {
  margin: 10px 0px;
}

.answer-option textarea {
  border: 2px solid #ddd;
  padding: 10px;
  outline: none;
  width: 100%;
}

.answer-option-select {
  margin: 10px 0px;
}

.answer-option-select label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.answer-option-select input {
  margin-right: 10px;
  height: 18px;
  width: 18px;
}

.answer-option-multi-select {
  margin: 10px 0px;
}

.answer-option-multi-select label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.answer-option-multi-select input {
  margin-right: 10px;
  height: 18px;
  width: 18px;
}

/*#Answer Option*/

/*Additional Answer*/
.additional-answer {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.additional-answer span {
  font-size: 14px;
}

.additional-answer textarea {
  margin-top: 4px;
  border: 2px solid #ddd;
  padding: 10px;
  outline: none;
}
/*#Additional Answer*/

/*Action Box*/
.action-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.button {
  border: none;
  height: 32px;
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  -webkit-box-shadow: 0 15px 30px 0 rgb(0 0 0 / 30%);
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 30%);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 32px;
}

.pagination-button {
  background: #fb9300;
  color: #fff;
  min-width: 100px;
}

.complete-button {
  background: #4aa96c;
  color: #fff;
  min-width: 120px;
  height: 48px;
}

/*#Action Box*/

/*Loading Animation*/
.page-loader {
  position: fixed;
  background: #ffffffa8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #2541b2;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*#Loading Animation*/
